* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* prevent highlight */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.bubbles {
    position: relative;
    display: flex;
    filter: blur(5px);
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 60px #4fc3dc;
    animation: animate 3600000s linear infinite;
    /* 1000s x 3600s */
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 60px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(50vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}