footer {
    .grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
}