@import "../GlobalStyles/GlobalStyles.scss";
.parallax {
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  .lblWelcome,
  .lblHolidays {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: translate(-50%, -50%);
  }
  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .sky,
  .stars1,
  .stars2 {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .bird1,
  .bird2,
  .bird3,
  .santa,
  .eagle1,
  .eagle2,
  .fighterFalcon {
    -o-object-fit: contain;
    object-fit: contain;
    width: 10%;
  }
  .bird1 {
    height: 10%;
    top: 45%;
    left: 20%;
  }
  .bird2 {
    height: 9.5%;
    top: 45%;
    left: 65%;
  }
  .bird3 {
    height: 5%;
    top: 50%;
    left: 62%;
  }
  .santa {
    width: 40%;
    height: 40%;
    top: 55%;
    left: -20%;
  }
  .eagle1,
  .eagle2 {
    transform: scaleX(-1);
  }
  .eagle1 {
    width: 10%;
    top: -5%;
    left: 2%;
  }
  .eagle2 {
    width: 7%;
  }
  .fighterFalcon {
    top: 25%;
    left: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .parallax {
    .lblWelcome {
      font-size: 3rem;
    }
    .lblHolidays {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .parallax {
    .lblWelcome {
      font-size: 2.75rem;
    }
    .lblHolidays {
      font-size: 2rem;
    }
  }
  .hlwLights1,
  .hlwLights2 {
    height: 25rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .parallax {
    img.moon {
      margin-top: -10%;
    }
    .lblWelcome {
      top: 40%;
      font-size: 2.5rem;
    }
    .lblHolidays {
      font-size: 1.8rem;
    }
  }
  .hlwLights1,
  .hlwLights2 {
    height: 18rem;
  }
}

@media screen and (max-width: 480px) {
  .parallax {
    img.moon {
      margin-top: -20%;
    }
    .lblWelcome {
      top: 40%;
      font-size: 2rem;
    }
    .lblHolidays {
      font-size: 1.5rem;
    }
  }
  .hlwLights1 {
    height: 20rem;
  }
  .hlwLights2 {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .parallax {
    img.moon {
      margin-top: -25%;
    }
    .lblWelcome {
      font-size: 1.5rem;
    }
    .lblHolidays {
      font-size: 1.2rem;
    }
  }
}
