@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/14374231/thumb/4.jpg);
    background-size: 100%;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-image: url(https://cdn.dribbble.com/users/418509/screenshots/4211457/media/dbfafb616be6c8a427cc8a7c161b8b07.gif); */
    /* background-image: url(http://www.andrewnourse.com/images/lion_walk_cycle_by_sourful-d3iwk1l.gif); */
    /* background-image: url(https://cdn.shopify.com/s/files/1/0595/4450/2453/files/Sundarbannssizemove0.2.gif?v=1639469149); */
    /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c0e59f5d-bd49-43d0-b829-88357ebf811d/d5k7a20-cedad197-db91-40ad-ac4d-0bff9b18bb9b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MwZTU5ZjVkLWJkNDktNDNkMC1iODI5LTg4MzU3ZWJmODExZFwvZDVrN2EyMC1jZWRhZDE5Ny1kYjkxLTQwYWQtYWM0ZC0wYmZmOWIxOGJiOWIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Sk8tdSwGoz-ZroVX3Kar-0odh41N5Ft9fYdKwn3PEqw); */
    /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3b94b851-849d-4071-9cd8-a0f5c6d4c6ca/d8aq0sy-15d4bb84-4426-4c1a-959b-9d88014831da.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNiOTRiODUxLTg0OWQtNDA3MS05Y2Q4LWEwZjVjNmQ0YzZjYVwvZDhhcTBzeS0xNWQ0YmI4NC00NDI2LTRjMWEtOTU5Yi05ZDg4MDE0ODMxZGEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xO-PFpDACGYb13umeWS1h4n612AGdOnenLsXBY-9Ksg); */
    /* background-image: url(https://quizizz.com/media/resource/gs/quizizz-media/quizzes/6dee7071-f47a-412a-a48a-2a10801b443c?w=90&h=90); */
}

.container {
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
}

section {
    position: fixed;
    width: 100%;
    height: 100vh;
}

section.tiger2022 img {
    height: 45%;
    margin-left: 33.5%;
}

section.hlny img {
    height: 30%;
    margin-top: 15%;
    margin-left: 39.5%;
}

section.moon img {
    margin-left: 88%;
    margin-top: 25px;
    width: 3.5%;
    height: 7.5%;
}

.light_moon {
    margin-left: 1456px;
    margin-top: 28px;
    /* border: 2px solid rgba(238, 238, 238, 1); */
    width: 3.3%;
    height: 6.9%;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 15px gray;
}

section.HCMcity {
    text-align: center;
    margin-top: 21%;
}

section.HCMcity img {
    width: 100%;
    height: 60%;
    /* background-color: gray; */
    /* opacity: 0.5;
    mix-blend-mode: overlay; */
}

section.tiger img {
    margin-top: 20.1%;
    margin-left: -118%;
    width: 12%;
    height: 14%;
    animation: tigermove 6s linear infinite;
    /* animation-delay: 2s; */
}

@keyframes tigermove {
    0% {
        margin-left: -150%;
    }
    50% {
        margin-right: -240%;
    }
    100% {
        margin-right: -250%;
    }
}

section.spiderman img {
    margin-top: 77.4px;
    margin-left: 47.26%;
    width: 13%;
    height: 45.7%;
    transform: rotateY(180deg);
    animation: fadeout 77s linear forwards;
}

@keyframes fadeout {
    0%,
    94% {
        opacity: 1;
        visibility: visible;
    }
    95%,
    97% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.fireworks {
    position: fixed;
    bottom: 2%;
    opacity: 0.7;
    mix-blend-mode: overlay;
}

section:nth-child(2).content {
    padding-top: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}