// Quicksand
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&display=swap');
// Bungee
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
// Monoton
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
// Mochiy Pop One
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Monoton&family=Quicksand:wght@300..700&display=swap');
$bg_color: #070C1F;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html,
body {
    min-width: 100dvw;
    min-height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    // cursor: default;
    background: #070C1F;
}

img {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type=text],
input[type=password],
select {
    padding: 0.5rem;
    font-size: 16px;
}

p,
span,
a {
    line-height: 1.4;
}